<div class="container">
  <div class="columns is-centered">
    <ul class="box is-one-third">
      <h1 class="title has-text-centered">Hotel Check-in</h1>
      <li>
        <strong>Name: </strong>{{ prefix }} {{ firstName }} {{ surName }}
      </li>

      <li>
        <strong>Street Address: </strong>{{ address }}
      </li>
      <li>
        <strong>City: </strong>{{ city }}
      </li>
      <li>
        <strong>Postcode: </strong>{{ zipcode }}
      </li>
      <li>
        <strong>Email: </strong>{{ email }}
      </li>
      <li>
        <strong>Phone: </strong> {{ phone }}
      </li>
    </ul>
  </div>
  <div class="column has-text-centered is-centered">
    <button (click)="reload()" class="button">New Card</button>
  </div>
</div>
